.formulaContainer {
  height: 80px;
  width: 600px;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  margin-top: 1.85rem;
  padding-top: 1rem;
  padding-left: 4rem;
}

.formulaTitle {
  height: 25px;
  width: 70px;
  background-color: #ffdd00;
  border-radius: 4px;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: -0.35px;
  text-align: center;
}

.formula {
  font-size: 1.5rem;
  margin-top: 5px;
}

@media only screen and (max-width: 400px) {
  .formulaContainer {
    height: max-content;
    width: 230px;
    margin-top: 1.5rem;
    padding: 1rem;
  }
}
